*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #aca9e6;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: white;
    margin-bottom: 130px;
    font-family: 'poppins',sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    padding: 2vw 4vw;
    max-width: 549px;
    border-radius: 10px;
    margin-bottom: 10%;
}

label{
    color: #555;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Choose File';
    display: inline-block;
    background-color: #555;
    color: white;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    margin: 10px 0;
    cursor: pointer;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
.btn{
    display: flex;
    justify-content:space-between;
}
.btn>input , .btn>button{
    margin-top: 5px;
    padding: 10px;
    background-color: #539dff;
    /* color: white; */
    border: 0;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    border-radius: 30px;
}


/* *{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
  }
  .container{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #aca9e6;
  }
  form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 80%;
    max-width: 549px;
    border-radius: 10px;
  }
  form h3{
    color: #555;
    margin-bottom: 25px;
    font-weight: 800;
  }
  form label{
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  form input,form textarea{
    border: 0;
    background-color: #f5f5f5;
    margin: 10px 0;
    padding: 14px;
    font-size: 16px;
    outline: none;
  }
  .btn,.g-recaptcha{
    display: flex;
    justify-content: center;
    margin: 3px;
  }
  .btn> .inputbtn{
     padding: 12px;
     background-color: #539dff;
     border: 0;
     font-size: 18px;
     cursor: pointer;
     width: 150px;
     border-radius: 30px;
     display: flex;
     justify-content: center;
  } */